.custom-checkbox{
                width: 16px;
                height: 16px;
                display: inline-block;
                position: relative;
                z-index: 1;
                top: 3px;
                background: url("checkbox-sprite.png") no-repeat 0 0 transparent;
                margin-left: 5px;
            }
            .custom-checkbox:hover{
                background-position: 0 -16px;
            }
            .custom-checkbox.selected{
                background-position: 0 -32px;
            }
            .custom-checkbox input[type="checkbox"]{
                margin: 0;
                position: absolute;
                z-index: 2;            
                cursor: pointer;
                outline: none;
                opacity: 0;
                /* CSS hacks for older browsers */
                _noFocusLine: expression(this.hideFocus=true); 
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                -khtml-opacity: 0;
                -moz-opacity: 0;
            }
            /* Let's Beautify Our Form */
            form{
                margin:-15px;
            }
            label{
                display: block;
                padding: 2px 0;
            }
            input[type="submit"]{
                float: left;
                background: #f2f2f2;
                border: 1px solid #CCCCCC;
                border-radius: 4px;
                margin-top: 20px;
                padding: 4px 10px;
                cursor: pointer;
                outline: none;
            }
            input[type="submit"]:hover{
                color: #fff;
                border-color: #1b7aa9;
                background-color: #239fdb;
            }