.userfriend_main_div
{
    padding:5px;
    margin-top:50px;
}

.userfriend_center_div
{
    width:95%;margin-top:10px;border-radius:7px;border-radius: 4px;border: solid 1px #e5e5e5;
    background: #fff;

}
.userfriend_img
{
    position: absolute;
    width: 25%;
    border: solid 4px #fff;
    color: #fff;
    margin-top: -15%;
    margin-left: 10px;

}
.userfriend_data
{
    margin-left:100px;margin-top: 8px;width:100%;
}
.userfriend_data1
{
    margin-top: 8px;
    width:100%;
    text-align: right;
    padding:16px;
}
.follow_btn
{
    float: right;margin-right: 5px;
}